<h1>EDUCATION</h1>
    <h2>UNIVERSITY OF FLORIDA</h2>
    <div class="row">
        <div class="col col-7">
            <div class="detail">
                <p><b>Bachelor of Computer Science</b></p>
            </div>
        </div>
        <div class="col col-7">
            <div class="detail">
                <p>Fall 2020</p>
            </div>
        </div>
    </div>

    <div class="detail">
        <p>Minor: Mathematics</p>
    </div>
    <div class="detail">
        <p>GPA: 3.32</p>
    </div>